.main {
    background-color: #D6E4F0;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.characters {
    display: flex;
    flex-direction: column;
}

.character {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: inherit;
}

.character:hover {
    color: darkgrey;
}

.name {
    max-width: 290px;
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name:hover {
    overflow: visible;
    white-space: normal;
}

